blog/__pycache__
blog/migrations
single_pages/__pycache__
single_pages/migrations
softeng_django_prj/__pycache__
venv
db.sqlite3
.idea
todo_app/__pycache__
todo_app/__pycache__
todo_app/migrations/__pycache__
todo_app/migrations
